body h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'poppins';
}
body {
  background-color: #fcf9ff !important;
}







/* HEADER */
header .navbar {
    background: linear-gradient(to right, #22002d 0%, #4d0067 100%) !important;
}

/* SECTION - ONE */
.section-one {
    height: 40vh;
    background-color: #f8e6fe54;
    padding-top: 100px; 
    display: flex;
    align-items: center;
}
.section-one .section-title h1 {
    font-size: 66px;
    font-weight: 800;
    color: #4d0067;
    margin: 0;
    -webkit-animation: tracking-in-expand 0.3s ease-in-out both;
    animation: tracking-in-expand 0.3s ease-in-out both;
}
@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}
@keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}
@media (max-width: 991px) {
    .section-one {
        padding-top: 70px;
        height: 30vh;
    }
    .section-one .section-title h1 {
        text-align: center;
        font-size: 56px;
    }
}







/* SECTION - TWO */
.section-two nav ol {
    margin-top: 1em;
    margin-bottom: 0;
}
.section-two nav ol li a {
    font-size: 14px;
    font-weight: 500;
    color: #3f0055;
}
.breadcrumb-item+.breadcrumb-item::before, .breadcrumb-item  {
    color: #3f0054c8 !important;
    font-size: 14px;
}
@media (max-width: 991px) {
    .section-two {display: none;}
}








/* SECTION - THREE */
.section-three {
    padding-top: 1em;
}
.section-three .content-text {
    margin-block: 2em;
}
.section-three .content-text h1 {
    text-align: justify;
    font-size: 40px;
    font-weight: 700;
    color: #450162;
    margin-bottom: 10px;
}
.section-three .content-text p {
    text-align: justify;
    font-size: 16px;
    color: #33133e;
    line-height: 1.7em;
}
.section-three .shop-button a {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    background: linear-gradient(to right, #2b0053 0%, #560172 100%);
    border-radius: 7.5px;
    padding: 12px 30px 12px 40px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    width: fit-content;
    margin: auto;
    margin-top: 3em;
    margin-bottom: 2em;
    gap: 5px;
    transition: 0.3s;
}
@media (max-width: 991px) {
    .section-three .shop-button a {font-size: 14px;}
    .section-three .content-text {margin-block: 2em;}
    .section-three .content-text h1 {font-size: 30px;}
    .section-three .content-text p {font-size: 14px;}
}