body h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'poppins';
}
body {
  background-color: #fcf9ff !important;
}







/* HEADER */
header .navbar {
    background: linear-gradient(to right, #22002d 0%, #4d0067 100%) !important;
}

/* SECTION - ONE */
.section-one {
    height: 40vh;
    background-color: #f8e6fe54;
    padding-top: 100px; 
    display: flex;
    align-items: center;
}
.section-one .section-title h1 {
    font-size: 66px;
    font-weight: 800;
    color: #4d0067;
    margin: 0;
    -webkit-animation: tracking-in-expand 0.3s ease-in-out both;
    animation: tracking-in-expand 0.3s ease-in-out both;
}
@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}
@keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}
@media (max-width: 991px) {
    .section-one {
        padding-top: 70px;
        height: 30vh;
    }
    .section-one .section-title h1 {
        text-align: center;
        font-size: 50px;
    }
}









/* SECTION - THREE */
.contact-form {
  padding-top: 3em;
  padding-bottom: 2em;
}
.contact-form .details {
    padding: 4em;
    display: grid;
    gap: 25px;
}
.contact-form .details .links h1 {
    display: flex;
    color: #4d0067;
    font-size: 24px;
    font-weight: 600;
    gap: 10px;
}
.contact-form .details .links a {
    text-decoration: none;
    font-size: 14px;
    color: #391146;
}
@media (max-width: 991px) {
    .contact-form {
      padding-bottom: 0;
    } 
    .contact-form .details .links {text-align: center;}
    .contact-form .details .links h1 {justify-content: center;}
}
.contact-form .white-walk-form {
  border-radius: 10px;
  width: 100%;
  /* border-bottom: 2px solid #3c2c1e;
  border-left: 2px solid #3c2c1e; */
  padding: 30px;
  background: #fcf9ff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.075);
}
.contact-form .white-walk-form .form-group {
  margin-bottom: 20px;
}
.contact-form .white-walk-form label {
  padding-bottom: 0px;
  font-size: 16px;
  margin-left: 2px;
  color: #22002d;
}
.contact-form .white-walk-form input, .contact-form .white-walk-form textarea, .contact-form .white-walk-form select {
  border-radius: 0px;
  box-shadow: none;
  font-size: 16px;
  font-weight: 700;
  background: #fcf9ff;
  border: none;
  color: #270034;
  border-bottom: 1.5px solid #22002d;
}
.contact-form .white-walk-form input:focus, .contact-form .white-walk-form textarea:focus, .contact-form .white-walk-form select:focus {
  border-color: #22002d;
}
.contact-form .white-walk-form textarea {
  padding: 0px 0px;
}
.contact-form .white-walk-form button[type=submit] {
  background: linear-gradient(to right, #2b0053 0%, #420057 100%);
  width: 100%;
  border: 2px solid #22002d;
  padding: 8px 32px;
  margin-top: 12px;
  margin-bottom: 4px;
  color: #fffcfc;
  transition: 0.3s !important;
  border-radius: 5px;
}








/* SECTION - THREE */
.section-three {
  padding-block: 2em;
}
.section-three .section-title h1 {
  margin-bottom: 0.5em;
  font-size: 56px;
  font-weight: 800;
  text-transform: uppercase;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(to right, #460071 0%, #74019a 100%);
}
.section-three .faq-content {
  width: 75%;
  margin-top: 2em;
  margin-inline: auto;
}
.faq-content .accordion-button {
  padding: 10px 20px !important;
  border-radius: 5px !important;
}
/* .faq-content .accordion-button:not(.collapsed) {
  background-color: #f2defc !important;
} */
.section-three .faq-header {
  padding-block: 10px;
  margin: 0;
} 
.faq-content .accordion-button:focus {
  box-shadow: none;
  transition: 0.3s;
}
.faq-content .accordion-button:before {
  content: "";
  position: absolute;
  right: 20px;
  height: 3px;
  width: 18px;
  background-color: #420042;
  border-radius: 10px;
  transition: 0.3s;
}
.faq-content .accordion-button.collapsed:after {
  content: "";
  position: absolute;
  right: 27.5px;
  height: 18px;
  width: 3px;
  border-style: none;
  background-color: #420042;
  border-radius: 10px;
  transition: 0.3s;
}
.faq-content .accordion-button h5 {
  width: 90%;
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: #420042;
}
.faq-content .accordion-body {
  background-color: #f7dfff35;
  padding-block: 12px;
  border-radius: 10px;
}
.faq-content .accordion-body p {
  margin-bottom: 0px;
  padding-inline: 20px;
  font-size: 16px;
  text-align: justify;
  line-height: 1.75em;
  color: #3b1946;
}
@media (max-width: 991px) {
  .section-three .section-title h1 {
    font-size: 36px;
  }
  .section-three .faq-content {width: 100%;}
  .faq-content .accordion-button h5 {font-size: 16px;}
  .faq-content .accordion-body p {font-size: 13px;}
  .faq-content .accordion-button:before {width: 15px;}
  .faq-content .accordion-button.collapsed:after {right: 26px; height: 15px;}
}
