
/* HEADER - NAVBAR */
header {
    position: fixed;
    width: 100%;
    z-index: 999;
}
header .offer-header p {
    margin: 0;
    margin-top: -1px;
    background: #22002fcf;
    text-align: center;
    font-size: 13px;
    color: #dfdfdf;
    font-weight: 500;
    padding-block: 3px;
    letter-spacing: 0.25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .navbar {
    /* background: linear-gradient(to right, #1f003c 0%, #69008d 100%) !important; */
    background: transparent !important;
    transition: 0.3s;
    padding: 0%;
}
header .navbar.transparent {
    transition: 0.3s;
    background: transparent !important;
}
header .navbar.scrolled {
    transition: 0.3s;
    background: linear-gradient(to right, #22002d 0%, #4d0067 100%) !important;
}
header .navbar .navbar-toggler {
    padding: 0%;
    padding-block: 3px !important;
}
header .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}
header .navbar .menu-icon {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}
header .navbar .menu-icon .line {
    width: 1em;
    height: 2px;
    margin-left: 5px;
    background-color: #ffffff;
    transition: all 0.3s;
}
header .navbar button[aria-expanded="true"] {
    transform: translateX(0);
}
header .navbar button[aria-expanded="true"] .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
header .navbar button[aria-expanded="true"] .line:nth-child(2) {
    opacity: 0;
}
header .navbar button[aria-expanded="true"] .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6px);
}
header .navbar ul {
    gap: 1em;
    margin-right: 3em;
}
header .navbar ul li a {
    color: #ffffff !important;
    font-size: 14px;
}
@media (max-width: 991px) {
    header .navbar .menu-icon {
        display: flex;
    } 
    header .navbar ul {
        margin: 0;
        text-align: center;
        gap: 7.5px;
        padding-block: 1em;
        margin-bottom: 1.5em;
        background: #fcf9ff;
    }
    header .navbar ul li a {
        font-size: 12px;
        color: #320032 !important;
        font-weight: 500;
    }
}
header .navbar-brand {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 36px;
    color: #fff;
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #ffffff 0%, #f3edff 100%), #ffffff 0%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
header .navbar-brand img {
    height: 3em;
}
header .navbar-brand:hover {
    color: #fff;
    cursor: pointer;
}
header .brand-mob {
    display: none;
}
@media (max-width: 991px) {
    header .brand-web {
        display: none;
    }
    header .brand-mob {
        display: flex;
    }
}
header .navbar .cart {
    width: 30px;
    cursor: pointer;
}
header .navbar .cart a {
    text-decoration: none;
}
header .navbar .cart-count {
    position: relative;
    top: 12px;
    right: -12px;
    background-color: #fff;
    color: #1f005b;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 600;
    padding: 1px 5px;
}
header .navbar .cart img {
    margin-bottom: 1.5em;
}
@media (max-width: 991px) {
    header .navbar .container {
        padding-inline: 1.5em;
    }
    header .navbar-brand img {
        height: 2em;
    }
}