
body {
    font-family: monospace;
    text-align: justify;
}
section {
    width: 90%;
    margin: auto;
    padding-top: 3em;
    padding-bottom: 1em;
}
.prompts {
    padding-bottom: 2em;
}
span {
    padding: 0.25em 0.5em;
    margin-right: 0.5em;
    background: black;
    color: #fff;
}