body h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'poppins';
}
body {
  background-color: #fcf9ff !important;
}







/* HEADER */
header .navbar {
    background: linear-gradient(to right, #22002d 0%, #4d0067 100%) !important;
}

/* SECTION - ONE */
.section-one {
    height: 40vh;
    background-color: #f8e6fe54;
    padding-top: 120px; 
    display: flex;
    align-items: center;
}
.section-one .section-title h1 {
    font-size: 66px;
    font-weight: 800;
    color: #4d0067;
    margin: 0;
    -webkit-animation: tracking-in-expand 0.3s ease-in-out both;
    animation: tracking-in-expand 0.3s ease-in-out both;
}
@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}
@keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}
@media (max-width: 991px) {
    .section-one {
        padding-top: 90px;
        height: 30vh;
    }
    .section-one .section-title h1 {
        text-align: center;
        font-size: 36px;
    }
}







/* SECTION - TWO */
.section-two nav ol {
    margin-top: 1em;
    margin-bottom: 0;
}
.section-two nav ol li a {
    font-size: 14px;
    font-weight: 500;
    color: #3f0055;
}
.breadcrumb-item+.breadcrumb-item::before, .breadcrumb-item  {
    color: #3f0054c8 !important;
    font-size: 14px;
}
@media (max-width: 991px) {
    .section-two {display: none;}
}







