body h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'poppins';
}
body {
  background-color: #fcf9ff !important;
}







/* HEADER */
header .navbar {
    background: linear-gradient(to right, #22002d 0%, #4d0067 100%) !important;
}

/* SECTION - ONE */
.section-one {
    height: 40vh;
    background-color: #f8e6fe54;
    padding-top: 120px; 
    display: flex;
    align-items: center;
}
.section-one .section-title h1 {
    font-size: 66px;
    font-weight: 800;
    color: #4d0067;
    margin: 0;
    -webkit-animation: tracking-in-expand 0.3s ease-in-out both;
    animation: tracking-in-expand 0.3s ease-in-out both;
}
@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}
@keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}
@media (max-width: 991px) {
    .section-one {
        padding-top: 90px;
        height: 30vh;
    }
    .section-one .section-title h1 {
        text-align: center;
        font-size: 36px;
    }
}







/* SECTION - TWO */
.section-two nav ol {
    margin-top: 1em;
    margin-bottom: 0;
}
.section-two nav ol li a {
    font-size: 14px;
    font-weight: 500;
    color: #3f0055;
}
.breadcrumb-item+.breadcrumb-item::before, .breadcrumb-item  {
    color: #3f0054c8 !important;
    font-size: 14px;
}
@media (max-width: 991px) {
    .section-two {display: none;}
}








/* SECTION - THREE */
.section-three .row {
  margin-top: 2em;
}
.section-three .card {
  max-width: 20%;
  margin: 1em;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #e5e5e5;
}
.section-three .card .product-img img {
  height: 12.5em;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.section-three .product-description {padding: 1em;}
.section-three .product-description .rating {color: #f5b301;}
.section-three .product-description .product-name {
  text-transform: capitalize;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 0;
  color: #22002d;
}
.section-three .product-description .product-about {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #97869d;
}
.section-three .product-description .price-buy .price p {
  margin-bottom: 0;
  color: #22002d;
  font-size: 18px;
  font-weight: 600;
}
.section-three .product-description .price-buy .price p span {
  color: rgba(34, 0, 45, 0.447);
  text-decoration: line-through;
  font-size: 16px;
  font-weight: 400;
}
.section-three .product-description .price-buy .buy button {
  text-transform: capitalize;
  border: none;
  border-radius: 5px;
  color: #fff;
  background: #22002d;
  font-size: 13px;
  padding: 5px 15px;
}