div:where(.swal2-container) div:where(.swal2-popup) {
  border-radius: 10px !important;
  background-color: #fcf9ff !important;
}
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
  background: linear-gradient(to right, #2b0053 0%, #560070 100%) !important;
  border-radius: 10px !important;
  padding-inline: 2em !important;
}
div:where(.swal2-icon).swal2-error {
  border-color: #ff0000 !important;
  color: #ff0000 !important;
}
div:where(.swal2-icon).swal2-error [class^="swal2-x-mark-line"] {
  background-color: #ff0000 !important;
}
div:where(.swal2-container) h2:where(.swal2-title) {
  color: #560070 !important;
}
div:where(.swal2-icon).swal2-success [class^="swal2-success-line"] {
  background-color: rgb(48 133 0) !important;
}
div:where(.swal2-icon).swal2-success .swal2-success-ring {
  border: 0.25em solid rgb(165 220 134) !important;
}
div:where(.swal2-icon).swal2-success .swal2-success-ring {
  border: 0.25em solid rgb(48 133 0) !important;
}
div:where(.swal2-container) {
  align-content: end;
  padding-bottom: 5em !important;
}