body {
    font-family: monospace;
    margin: 0;
    background-color: #fcf9ff !important;
}
p {
    display: none;
}
section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
h3:first-child {
    text-align: end;
    width: 60%;
}
h3:nth-child(2) {
    width: 40%;
    padding-left: 1em;
}